[submodule "backend"]
	path = backend
	url = https://github.com/SNURTEL/sigmacats-backend.git
	branch = main
[submodule "web"]
	path = web
	url = https://github.com/SNURTEL/sigmacats-web.git
	branch = main
